.week-mode {
  overflow: hidden;
  filter: invert(80%);
}
.beauty-scroll {
  scrollbar-color: @primary-color @primary-2;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  position: relative;
  &::-webkit-scrollbar {
    width: 3px;
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: @primary-color;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 3px;
    background: @primary-3;
  }
}
.split-right {
  &:not(:last-child) {
    border-right: 1px solid rgba(98, 98, 98, 0.2);
  }
}
.disabled {
  cursor: not-allowed;
  color: @disabled-color;
  pointer-events: none;
}
// 公共样式修改
.ant-card-body {
  padding: 16px;
}
.ant-form-item {
  margin-bottom: 8px;
}
.ant-drawer-body {
  height: calc(100% - 55px);
  padding: 0;
  padding-bottom: 55px !important;
  .wrapper {
    height: 100%;
    overflow: auto;
    padding: 24px;
  }
}

// 警示项目
.is-warn-project {
  color: #f56c6c;
}
